[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/plugins/start/vim-sandwich"]
	path = pack/plugins/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "pack/plugins/start/zepl.vim"]
	path = pack/plugins/start/zepl.vim
	url = https://github.com/axvr/zepl.vim.git
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/dense-analysis/ale.git
